################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Gears.Interpreter/bin/Debug
/Gears.Interpreter/obj
/.vs/config/applicationhost.config
/Gears.Interpreter/bin/Release
**/.idea/
*.csproj.DotSettings
*.user
*.TMP
