<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2016 Ondrej Homola <ondra.homola@gmail.com>

This file is part of Gears, a software automation and assistance framework.

Gears is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Gears is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.0.0-beta3" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.0.0-beta3" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.24.0.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="2.53.1.1" targetFramework="net452" />
</packages>